.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

img{
  height: 100px;
  width: 100px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 250px;
  width: 300px;
  border:2px solid;
  margin: 20px;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

.margin{
  margin: 10px;
}

.box{
  background-color: white;
  border: 2px solid;
  margin: 20px;

}

.d-flex{
  display: flex;
}
.center{
  justify-content: center;
}

.column{
  flex-direction: column;
}